body {background: rgb(70, 238, 64);}
ul{
    background:  #0b046d ;
    list-style: none;
    padding: 0;
}

ul li{
    padding-left: 20px;
}

ul span{
    color: white ;
    font-weight: bold;
}


ul li ul{
    list-style: none;
  
}

ul li ul li{
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid #faf8f5;
    margin-left: 40px;
}

ul li ul li a{
    color: white;
        text-decoration: none;

}