.BorderedText{
    border: 2px solid orangered;
}

.FirstBlock {
    font-size: 20px;
   
}
.SecondBlock {
    font-family: Verdana, Areal, san-serif;
   d;
}
.Font-color{
   color: blue;
   
}
.FontStyle{
    font-style: italic;
    
}