.square{
    background-color: cornflowerblue;
    border: 1px dashed lime
}
.dimension-inch{
width: 2in;
height: 1in;
}
.dimension-cm{
    width: 2cm;
    height: 1cm;
}
.dimension-px{
width: 10px;
height: 10px;
}
.dimension-percent{
    width: 40%;
    height: 30%;
    }